.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
  
}

.set-alarm {
  /* margin: 20px; */
  background-color: rgb(150, 139, 151);
}

h1 {
  text-align: center;
}
