/** Write your CSS in here **/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #393e46;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: .5rem;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #fc8a48;
    border: 1px solid white;
    padding: 1.5rem;
    font-size: 50px;
    border-radius: 10px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.container {
    width: auto;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

img {
    border-radius: 20px;
    width: 500px;
}

button {
    color: white;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: .5rem;
}

button:focus,
button:hover {

    background: rgba(220, 23, 10, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(220, 23, 10, 0.3);
    outline: none;
}

button:disabled {

    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}


input {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    color: white;
    padding: .5rem;
}

input:focus {
    outline: none;
}

label {
    color: white;
}
