/** Write your CSS in here **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5372f0;
}
.wrapper {
  width: 655px;
  background: white;
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.wrapper h1 {
  font-size: 35px;
  font-weight: 600;
  color: #5372f0;
  text-align: center;
}
.wrapper .content {
  margin: 35px 0;
}
#image_1 {
    width: 550px;
    height: 550px;
    margin: 10px;
    border-radius: 50px;
}
.carousel_button button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-style: 16px;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372f0;
}
.carousel_button button:hover {
  color: #5372f0;
  background: #fff;
  border: 2px solid #5372f0;
}
