.container {
  height: 100vh;
  width: 100vw;
  background-color: #ffb200;
}
.whiteDiv {
  /* width: 700px; */
  height: 400px;
  margin: auto auto;
  background-color: rgb(241, 241, 212);
  position: relative;
}
.button {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.quote-dark {
  font-family: "Lobster", cursive;
  font-size: 1.2em;
}
