@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #22313f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-wrapper {
  width: 450px;
  height: 370px;
  margin: 0 10px;
}
.quote-wrapper .quote-heading {
  text-align: center;
  margin-bottom: 30px;
}
.quote-wrapper .quote-heading h2 {
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  color: #fff;
}
.quote-wrapper .quote-body {
  width: 100%;
  height: 200px;
  padding: 50px 35px;
  background-color: #fff;
  border-radius: 5px;
}
.quote-wrapper .quote-body .quote-icon {
  text-align: center;
  font-size: 18px;
  color: #22313f;
  height: 100px;
  overflow: auto;
}
.quote-wrapper .quote-body .quote-icon .icon {
  margin-right: 5px;
  margin-bottom: 20px;
}
.quote-wrapper .quote-body .author {
  text-align: right;
  margin-top: 15px;
}
.quote{
    padding-bottom: 2rem;
}
.quote-wrapper .quote-body .quote-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  border-top: 1px solid #93a0ac;
  padding: 7px 0;
}
.quote-wrapper .quote-body .quote-buttons .social a {
  font-size: 40px;
  color: #455261;
  transition: 0.3s ease;
}
.quote-wrapper .quote-body .quote-buttons .social a:hover {
  color: #00acee;
}
.quote-wrapper .quote-body .quote-buttons .btn button {
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: #455261;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.quote-wrapper .quote-body .quote-buttons .btn button:active {
  background-color: #ff3eff;
}
.quote-wrapper .footer {
  text-align: center;
  margin-top: 10px;
}
.quote-wrapper .footer p {
  color: #fff;
}
.quote-wrapper .footer p a {
  text-decoration: none;
  color: #00ff9e;
}
/*  Scroll bar Design  */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
